@import url('https://fonts.googleapis.com/css2?family=Public+Sans:wght@400;500;600;700&display=swap');

:root{
    --blue: #4756DF;
    --light-blue: #D0DCFA;
    --white: #FFFFFF;
    --black: #2B2B2B;
    --error-red: #DC4141;
}

*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body{
    font-family: 'Public Sans', sans-serif;
}

button{
    cursor: pointer;
}

input, button{
    border: none;
    outline: none;
}

.container{
    padding: 0 6.25rem;
}

#main-section .container{
    min-height: 100vh;
    padding-block: 3rem;
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 3rem;
}

#main-section .container .header{
    width: 100%;
    text-align: center;
}

#main-section .container .header > h1{
    font-size: 40px;
    color: var(--black);
    margin-bottom: 2rem;
}

#main-section .container .header .input-wrapper{
    width: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 1rem;
}

#main-section .container .header .input-wrapper .input-group{
    width: clamp(320px, 100%, 616px);
    height: 48px;
    border: 1px solid var(--blue);
    border-radius: 8px;
    overflow: hidden;
    display: flex;
    justify-content: center;
    align-items: center;
}

#main-section .container .header .input-wrapper .input-group > input{
    flex-grow: 1;
    height: 100%;
    padding-inline: 1rem;
    font-size: 18px;
}

#main-section .container .header .input-wrapper .input-group > button{
    padding: 0.75rem;
    background: var(--blue);
}

#main-section .container #todo-gallery{
    width: 100%;
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    gap: 1rem;
}

.todo-card{
    position: relative;
    z-index: 99;
}

.todo-card .todo{
    padding: 1rem 1.5rem;
    box-shadow: 0px 0px 16px rgba(43, 43, 43, 0.08),
                4px 12px 24px rgba(43, 43, 43, 0.1);
    background: var(--white);
    border-radius: 8px;
    display: flex;
    align-items: center;
    gap: 0.5rem;
}

.todo-card .todo > .todo-title{
    width: 100%;
    font-size: 20px;
    font-weight: 600;
    color: var(--black);
    opacity: 1;
}

.todo-card .todo > .todo-title.strikethrough{
    text-decoration: line-through;
    opacity: 0.6;
}

.todo-card .todo > input[type="checkbox"]{
    width: 20px;
    height: 20px;
}

.todo-card .todo > .option-btn{
    cursor: pointer;
}

.todo-card > .button-wrapper{
    position: absolute;
    top: 0;
    right: 0;
    padding: 0.5rem 1rem;
    border-radius: 8px;
    background: var(--light-blue);
    box-shadow: 0px 0px 16px rgba(43, 43, 43, 0.08),
                4px 12px 24px rgba(43, 43, 43, 0.1);
    display: flex;
    gap: 1rem;
    z-index: -1;
    transition: 0.5s top ease-in-out;
}

.todo-card > .button-wrapper.active{
    top: -48px;
}

.todo-card > .button-wrapper *{
    cursor: pointer;
}