@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@400;500;600;700&display=swap');

:root{
    --blue: #48CAE4;
    --white: #FFFFFF;
    --black: #2b2b2b;
}

*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body{
    font-family: 'Poppins', sans-serif;
}

a{
    text-decoration: none;
}

.container{
    padding: 0 6.25rem;
}

.primary-btn > a{
    padding: 0.75rem 1.5rem;
    border-radius: 99px;
    background-color: var(--blue);
    color: var(--white);
    font-weight: 600;
}

#navbar{
    width: 100%;
    position: fixed;
    top: 0;
    z-index: 999;
    transition: 0.5s top ease-in-out;
}

#navbar .container{
    padding-block: 1.5rem;
    display: flex;
    justify-content: space-between;
    backdrop-filter: brightness(50%);
}

#hamburger-btn{
    display: none;
    width: 20px;
    height: 20px;
    background-color: var(--white);
}

#close-btn{
    display: none;
}

#navbar .container .nav-menu{
    display: flex;
    align-items: center;
    gap: 3rem;
}

#navbar .container .nav-menu a{
    color: var(--white);
    font-weight: 500;
}

#navbar .container .nav-menu .nav-link{
    display: flex;
    gap: 2rem;
}

#navbar .container .nav-menu .nav-link .active{
    color: var(--blue);
}

#hero-section .container{
    min-height: 85vh;
    background: linear-gradient(rgba(0,0,0,0.6), rgba(0,0,0,0.6)),url(../img/hero-image.png);
    background-repeat: no-repeat;
    background-size: cover;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

#hero-section .container .hero-content{
    display: flex;
    flex-direction: column;
    gap: 2rem;
}

#hero-section .container .hero-content .heading > h1{
    font-size: 64px;
    color: var(--blue);
}

#hero-section .container .hero-content .heading > p{
    font-size: 18px;
    color: var(--white);
}

#hero-section .container .hero-image > img{
    width: 400px;
}

#hero-section .container .hero-content .lets-talk-btn > a{
    padding-inline: 3rem;
}

#about-section .container{
    padding-block: 3rem;
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 3rem;
}

#about-section .container .about-image > img{
    width: 400px;
}

#about-section .container .about-content{
    text-align: end;
    color: var(--black);
}

#about-section .container .about-content > h2{
    font-size: 40px;
    margin-bottom: 16px;
}

#about-section .container .about-content > p{
    font-size: 18px;
}

#service-section .container{
    display: flex;
    flex-direction: column;
    align-items: center;
    color: var(--black);
    padding-block: 3rem;
}

#service-section .container > h2{
    font-size: 40px;
    margin-bottom: 32px;
}

#service-section .container .service-content{
    display: grid;
    grid-template-columns: 1fr 1fr;
    gap: 2rem 1rem;
}

#service-section .container .service-content .service-card{
    padding: 3rem;
    background-color: var(--white);
    box-shadow: 0 0 16px rgba(0,0,0,0.1);
    border-radius: 20px;
    display: flex;
    flex-direction: column;
    text-align: center;
    gap: 16px;
}

#service-section .container .service-content .service-card .service-detail{
    height: 100%;
}

#service-section .container .service-content .service-card .service-detail > h3{
    font-size: 24px;
    margin-bottom: 12px;
}

#service-section .container .service-content .service-card > a{
    font-weight: 600;
    color: var(--blue);
}

@media only screen and (max-width: 1280px){
    
}

@media only screen and (max-width: 1024px){
    .container{
        padding: 0 4rem;
    }

    #navbar .container{
        position: relative;
    }

    .nav-menu .nav-link{
        flex-direction: column;
    }

    .nav-menu{
        position: relative;
        padding: 2rem 3rem;
        height: 100vh;
        background-color: var(--black);
        position: absolute;
        top: 0;
        right: -300px;
        flex-direction: column;
        transition: 0.5s right ease-in-out;
    }

    .nav-menu.active{
        right: 0;
    }

    #hamburger-btn, #close-btn{
        display: block;
    }

    #close-btn{
        position: absolute;
        top: 24px;
        right: 48px;
    }
}

@media only screen and (max-width: 768px){
    .container{
        padding: 0 3rem;
    }
}

@media only screen and (max-width: 480px){
    .container{
        padding: 0 1.5rem;
    }
}